.icon-field {
    max-width: 40px;
}

.prof-img {
    width: 400px;
    height: 400px;
}

.img-container {
    padding-bottom: 30px;
    padding-top: 20px;
}

.back-btn {
    min-height: 50px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: #86C232;
}
