h1 {
    color: white;
}

p {
    color: white;
}

.footer {
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding-top: 20px;
}

html, body {
    background-color: #33373A;
    /*background-color: #222629;*/
    height: 100%;
}

figure {
    width: 100px;
    /*overflow: hidden;*/
    margin: -5px;
    /*display: flex;*/
    /*transform: translateX(10px);*/

}

figure img {
    display: block;
    width: 100%;
}

.logo {
    height: 20px;
    width: 100px;
}

.my-btn {
    background-color: #86C232;
}

.my-btn:hover {
    background-color: #61892F;
}

a {
    color: #86C232;
}

a:hover {
    color: #61892F;
}

.my-component {
    background-color: rgba(0, 0, 0, 0.3);
}

.text-white {
    color: white;
}

.container {
    padding-top: 40px;
    vertical-align: middle;
    /*margin-top: 25px;*/
    margin-bottom: 50px;
    min-height: 45%;
}

textarea, input {
    padding: 10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.nav-item:hover {
    /*background-color: rgba(0, 0, 0, 0.2);*/

}

.card {
    background-color: #474B4F;
}

hr {
    /*background-color: #6B6E70;*/
    background-color: #33373A;

}
