h1 {
    color: white;
}

p {
    color: white;
}


html {
    background-color: #33373A;
    /*background-color: #222629;*/
    height: 100%;
}

body {
     background-color: #33373A;
    /*background-color: #222629;*/
    min-height: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
}

figure {
    width: 100px;
    /*overflow: hidden;*/
    margin: -5px;
    /*display: flex;*/
    /*transform: translateX(10px);*/

}

figure img {
    display: block;
    width: 100%;
}

.logo {
    height: 20px;
    width: 100px;
}

.my-btn {
    background-color: #86C232;
}

.my-btn:hover {
    background-color: #61892F;
}

a {
    color: #86C232;
}

a:hover {
    color: #61892F;
}

.my-component {
    background-color: rgba(0, 0, 0, 0.3);
}

.text-white {
    color: white;
}

.container {
    min-height: 50%;
    padding-top: 40px;
    vertical-align: middle;
    /*margin-top: 25px;*/
    margin-bottom: 50px;
}

textarea, input {
    padding: 10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.nav-item:hover {
    /*background-color: rgba(0, 0, 0, 0.2);*/

}

.card {
    background-color: #474B4F;
}

hr {
    background-color: #33373A;
}

.footer {
    height: 80px;
    width: 100%;
    margin-top: auto;
    padding-top: 26px;
    clear:both;
}

* {
  margin: 0;
}
html, body {
  height: 88%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;

}
.container:after {
  content: "";
  display: block;
}
.footer, .container:after {
  height: 80px;
}

.slide {
    max-height: 700px;
    max-width: 100%;
}
