.thumbnail {
    height: 250px;
    width: 100%;
    margin-top: 30px;
}

.cart-box {
    display: flex;
    margin-top: 10px;
    vertical-align: middle;
}

.box-element {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.box-element > hr {
    background-color: #222629;
    height: 1px;
}

.box-element form hr {
    background-color: #222629;
    height: 1px;
}

.product {
    border-radius: 0 0 4px 4px;
}

.view-btn {
    border-color: #86C232;
    color: #86C232;
}

.view-btn:hover {
    background-color: #86C232;
    /*border-color: #fff;*/
    color: #fff;
}

.cart-img {
    height: 50px;
    width: 100px;
}

.form-field {
    margin-bottom: 5px;
}

.quantity{
	display: inline-block;
    float: left;
}

.pagination > li > a
{
    background-color: white;
    color: #86C232;
}

.pagination > .active > a
{
    color: white;
    background-color: #86C232 !Important;
    border: solid 1px #86C232 !Important;
}

.pagination > li > a:hover
{
    color: #86C232;
}

.page-link {
    background-color: #222629 !Important;
    border: solid 1px #222629 !Important;
}

.detail-img {
    height: 400px;
    width: 100%;
}

.details-row {
    height: 120px;
    display: table-row;
}