{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card text-center">
                foto
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn my-btn">

                </form>

                <!-- <input type="text" value="{{request.user.username}}">-->
                <!-- <input type="text" value="{{request.user.email}}">-->
                <!-- <input type="text" value="{{request.user.profile.phone}}">-->
                <!-- <input type="image" value="{{request.user.profile.image}}">-->

            </div>


        </div>
    </div>
</div>

{% endblock %}