{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container col-md-10">
    <div class="row">
        <div class="col-md-4">

            <div class="card text-center">
                <a href="{% url 'home' %}">
                    <button class="btn col-11 btn-lg my-btn back-btn">
                        <span class="fa fa-arrow-left"></span> Back to the store
                    </button>
                </a>
                <hr>
                <h1>User Profile</h1>
                <hr>
                <div class="img-container">
                    <img src="{{ request.user.profile.image.url }}"
                         class="prof-img">
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn my-btn">

                </form>

                <!-- <input type="text" value="{{request.user.username}}">-->
                <!-- <input type="text" value="{{request.user.email}}">-->
                <!-- <input type="text" value="{{request.user.profile.phone}}">-->
                <!-- <input type="image" value="{{request.user.profile.image}}">-->

            </div>


        </div>
    </div>
</div>

{% endblock %}