{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h1>Sign Up</h1>
            <div class="row justify-content-center">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-append">
                            <div class="input-group-text rounded">
                                <span class="fa fa-user"></span>
                            </div>
                            {{ form.username }}
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-group-append">
                            <div class="input-group-text icon-field rounded">
                                <span class="fa fa-envelope"></span>
                            </div>
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-group-append">
                            <div class="input-group-text icon-field rounded">
                                <span class="fa fa-key"></span>
                            </div>
                            {{ form.password1 }}
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-group-append">
                            <div class="input-group-text icon-field rounded">
                                <span class="fa fa-key"></span>
                            </div>
                            {{ form.password2 }}
                        </div>
                    </div>


                    <input class="btn btn-sm my-btn col-12" type="submit" value="Sign up">

                    <p>Already have an account? <a href="{% url 'login' %}">Sign in!</a></p>

                </form>

            </div>
        </div>

    </div>
    {% if form.errors %}
    <div class="row justify-content-center">
        <div class="col-6">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="row alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}


