{% load static %}


<nav class="navbar my-component justify-content-center">
    <div style="margin-top: -20px;">
        <a class="navbar-brand" href="{% url 'home' %}">
            <figure style="margin: -30px 0 -30px 0;">
                <img src="{% static 'images/logo.png' %}" alt="" class="d-inline-block align-top">
            </figure>
        </a>
    </div>

    <div>
        <ul class="nav" id="list">
            <li class="nav-item rounded">
                <a class="nav-link active" href="{% url 'store' %}">Products</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-white">Hello, {{ request.user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"
                   href="{% url 'profile' request.user.id %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"
                   href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active"
                   href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}">Cart
                    {% if products_in_cart > 0 %}
                    <span class="badge badge-light">
                     {{ products_in_cart }}
                    </span>
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
</nav>




