{% load static %}

<div class="navbar navbar-expand-sm my-component">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <a class="navbar-brand" href="{% url 'home' %}">
            <figure>
                <img src="{% static 'images/logo.png' %}"
                     class="d-inline-block align-top" alt="">
            </figure>
        </a>
    </div>
    <!--    <button class="justify-content-end navbar-toggler" type="button"-->
    <!--            data-toggle="collapse"-->
    <!--            data-target="#navbarSupportedContent">-->
    <!--        <i id="toggler-icon" class="fas fa-bars"></i>-->
    <!--    </button>-->
    <div class="col-md-4">

        <!--        <div class="collapse navbar-collapse justify-content-end"-->
        <!--             id="navbarSupportedContent">-->
        <ul class="nav justify-content-end" id="list">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-white">Hello, {{ request.user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"
                   href="{% url 'profile' request.user.id %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"
                   href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active"
                   href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}">Cart <span class="badge badge-light">{% if products_in_cart.get_cart_items > 0 %} {{products_in_cart.get_cart_items}} {% endif %}</span></a>
            </li>
        </ul>
        <!--        </div>-->
    </div>

</div>


</nav>
<!--<hr>-->
<nav class="navbar my-component justify-content-center">
    <ul class="nav">
        <li class="nav-item rounded">
            <a class="nav-link active" href="{% url 'store' %}">Products</a>
        </li>
        <li class="nav-item rounded">
            <a class="nav-link" href="{% url 'checkout' %}">Checkout</a>
        </li>
    </ul>
</nav>
